
@{
    ViewBag.Title = "Index";
}

<div class="wrapper container">
    <h2 class="text-center col-lg-12">Welcome to RoboSoft</h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="http://www.burhantec.com/wp-content/uploads/2017/12/hd-pics-photos-robots-stunning-best-attractive-robot-technology-desktop-background-wallpaper.jpg" alt="Los Angeles" style="width:100%;">
                <div class="carousel-caption">
                    <h3>The Future Robots</h3>
                </div>
            </div>

            <div class="item">
                <img src="https://wonderfulengineering.com/wp-content/uploads/2013/11/robot-wallpaper.jpg" alt="Chicago" style="width:100%;">
                <div class="carousel-caption">
                    <h3>Robots the Future Helpers</h3>
                </div>
            </div>

            <div class="item">
                <img src="https://wallpaperstudio10.com/static/wpdb/wallpapers/1920x1080/175746.jpg" alt="New york" style="width:100%;">
                <div class="carousel-caption">
                    <h3>The future of households</h3>
                </div>
             </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="content">
        <h2 class="text-center">About RoboSoft</h2>
        <div class="col-lg-4">
            <img src="https://s.aolcdn.com/hss/storage/midas/1a5266bb75d33b263c8bba273148bdf5/204747652/mainm2.jpg" height="300" width="300" alt="intro1" />
        </div>
        <div class="col-lg-8 " >
            <p>
                Robotics is an interdisciplinary branch of engineering and science that includes
                mechanical engineering, electronic engineering, information engineering, computer
                science, and others. Robotics deals with the design, construction, operation, and
                use of robots, as well as computer systems for their control, sensory feedback,
                and information processing.These technologies are used to develop machines that
                can substitute for humans and replicate human actions. Robots can be used in many
                situations and for lots of purposes, but today many are used in dangerous environments
                (including bomb detection and deactivation), manufacturing processes, or where humans
                cannot survive (e.g. in space). Robots can take on any form but some are made to resemble
                humans in appearance. This is said to help in the acceptance of a robot in certain
                replicative behaviors usually performed by people. Such robots attempt to replicate
                walking, lifting, speech, cognition, and basically anything a human can do.
                Many of today's robots are inspired by nature, contributing to the field of bio-inspired
                robotics.The concept of creating machines that can operate autonomously dates back to
                classical times, but research into the functionality and potential uses of robots did not
                 grow substantially until the 20th century.[1] Throughout history, it has been frequently
                 assumed that robots will one day be able to mimic human behavior and manage tasks in a human-like
                fashion. Today, robotics is a rapidly growing field, as technological advances continue; researching,
                designing, and building new robots serve various practical purposes, whether domestically, commercially,
                or militarily. Many robots are built to do jobs that are hazardous to people such as defusing bombs,
                finding survivors in unstable ruins, and exploring mines and shipwrecks. Robotics is also used in STEM
                 (science, technology, engineering, and mathematics) as a teaching aid.
            </p>
        </div>
    </div>
</div>