
@{
    ViewBag.Title = "Leadership";
}



<div class="wrapper">
    <div class="content1">
        <h2 class="col-lg-12 text-center">Our Leadership Team</h2><br /><br />
        <div class="col-lg-6 ">
          
            These technologies are used to develop machines that can substitute
            for humans and replicate human actions. Robots can be used in many
            situations and for lots of purposes, but today many are used in dangerous
            environments (including bomb detection and deactivation), manufacturing processes,
            or where humans cannot survive (e.g. in space).
        </div>
        <div class="col-lg-6">
            Robots can take on any form but some are
            made to resemble humans in appearance. This is said to help in the acceptance of a robot in
            certain replicative behaviors usually performed by people. Such robots attempt to replicate walking,
            lifting, speech, cognition, and basically anything a human can do. Many of today's robots are inspired
            by nature, contributing to the field of bio-inspired robotics.
        </div>
    </div>
    <div class="content1">
        <div class="col-lg-4">
            <img src="http://www.minneapolisheadshots.com/gallery/main/professionalbusinessheadshot.jpg" height="500" width="100%" alt="img1" />
        </div>
        <div class="col-lg-4">
            <img src="http://nadiazheng.com/wp-content/uploads/2017/01/Montreal-business-portrait-professional-accoutant-linkedin-profile.jpg" height="500" width="100%" alt="img1" />
        </div>
        <div class="col-lg-4">
            <img src="https://www.collegeyearbookphoto.com/img/s/v-3/p70192955-2.jpg" height="500" width="100%" alt="img1" />
        </div>
    </div>
    <br />
    <br />
    <div class="content2">
        <h3 class="text-center">Our Board</h3>
        <div class="col-lg-12">
            <p> Robotics is an interdisciplinary branch of engineering and science that includes mechanical engineering,
             electronic engineering, information engineering, computer science, and others. Robotics deals with the design,
             construction, operation, and use of robots, as well as computer systems for their control, sensory feedback,
             and information processing.These technologies are used to develop machines that can substitute for humans 
            and replicate human actions. Robots can be used in many situations and for lots of purposes, but today many
             are used in dangerous environments (including bomb detection and deactivation), manufacturing processes, 
            or where humans cannot survive (e.g. in space). Robots can take on any form but some are made to resemble 
            humans in appearance. This is said to help in the acceptance of a robot in certain replicative behaviors 
            usually performed by people. Such robots attempt to replicate walking, lifting, speech, cognition, and 
            basically anything a human can do.</p>
        </div>
        <div class="col-lg-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">MARK SPENCE-(CEO)</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">WILLIAM SMITH-(CFO)</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">JOSEPH MICHEL-(CTO)</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>