
@{
    ViewBag.Title = "Services";
}

<h2 class="text-center">Our Services</h2>
<div class="wrapper">
    <div class="col-lg-12">
        <img src="https://www.eng.nus.edu.sg/wp-content/uploads/ban-Advanced-Robotics.jpg" height="500" width="100%" alt="image" />
    </div>
    <div class="content">
        <h3 class="text-center">COMPETENCIES</h3>
        <div class="content1">
            <div class="col-lg-5">
                <img src="https://s3.amazonaws.com/assets.clearpathrobotics.com/wp-content/uploads/2018/02/01133806/System-Design.jpg" height="200" width="70%" alt="image" />
            </div>
            <div class="col-lg-7">
                <h4 class="text-center">SYSTEMS DESIGN</h4>
                <p>we take a pragmatic approach to the design and development of complex autonomous systems. 
                Our multi-disciplinary team operates within the bounds of what’s technically feasible while 
                ensuring safety, efficiency, and quality throughout your project. By keeping our efforts nimble 
                and highly collaborative we are able to integrate design, problem solving, requirements tracking,
                 and life cycle integration in a way that facilitates fast learning through rapid iterations.By keeping our efforts nimble
                and highly collaborative we are able to integrate design, problem solving, requirements tracking,
                 and life cycle integration in a way that facilitates fast learning through rapid iterations.By keeping our efforts nimble
                and highly collaborative we are able to integrate design, problem solving, requirements tracking,
                 and life cycle integration in a way that facilitates fast learning through rapid iterations.</p>
            </div>
        </div>
       
        <div class="content2">
            <div class="col-lg-5">
                <img src="https://s3.amazonaws.com/assets.clearpathrobotics.com/wp-content/uploads/2018/02/01134025/Mapping.jpg" height="200" width="70%" alt="image" />
            </div>
            <div class="col-lg-7">
                <h4 class="text-center">PERCEPTION AND MAPPING</h4>
                <p>
                    Situational awareness is core to autonomous robotic systems. 
                    Through innovative sensor fusion and point cloud processing, Simultaneous
                     Localization and Mapping (SLAM) constructs a map of the environment while
                     tracking the robot’s location in parallel. Object classification and tracking
                     identify and tag points of interest for the robot to map.
                </p>
            </div>
        </div>

    </div>
</div>
